
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$soft-red: #FF7D7D;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$soft-green: #90EE90;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$link-color: #4f9fcf;

$mobile-bp: 760px;

// $project-color: #f6f6f6;
// $project-color-dark: #86add7;
// $project-color-light: #ececec;

$project-color: #96DDFF;
$project-color-dark: #86add7;
$project-color-light: #96DDFF;
