
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');
// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

// Variables
@import 'variables';

// Pages
@import 'index';
@import 'navbar';
@import 'footer';
@import 'about';
@import 'games';
@import 'faq';
@import 'policy';
@import 'payment';
@import 'payment/feedback';
@import 'orders';

// Products
@import 'product/default';
@import 'product/view';

// Cart
@import 'cart/floating';
@import 'cart/full';

// GENERAL SASS

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.title {
    font-size: 84px;
}

.content {
    text-align: center;
}

.hide {
    display:none !important;
}

.lock-order {
    opacity: 0.5;
}

.order-error {
    background-color: rgba(237, 67, 55, .4);
}

.link {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.bg-gray {
    background-color:rgba(0,0,0,.1);
}

.font-project {
    color: $project-color;
}

.bg-project {
    color: white;
    background-color: $project-color;

    &-light {
        color: white;
        background-color: $project-color-light;
    }

    &-dark {
        color: white;
        background-color: $project-color-dark;
    }
}
