.footer {
    flex-direction:column;
    height:20rem;

    &-contact {
        margin-top:4rem;
        width:100%;
    }

    &-contact-info-wrapper {
        display:flex;
        width:100%;
        flex-wrap: wrap;

        p {
            color: #636b6f;
            flex:1;
            padding: 1rem;
            text-align: center;
        }
    }

    .links {
        display: flex;
        width: 100%;
        margin-top:5rem;
        justify-content: center;
    }

    .links > a {
        text-align: center;
        margin: 1rem;
        color: #636b6f;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}
