.games {
    display: flex;

    &-categories {
        flex: 1;
    }

    &-wrapper {
        margin-top:5rem;
        flex:4;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
    }
}
