.games {
    display: flex;
    min-height: 100vh;

    &-categories {
        flex: 1;
        text-align:left; 
        border-right: 1px solid rgba(0, 0, 0, .2);

        &-header {
            margin-top:5rem; 
            margin-left:1rem;

            &-title {

            }
        }

        &-body {
            .category-list {
                list-style: none;

                .category-item {
                    margin: 1rem 0;
                }
            }
        }
    }

    &-wrapper {
        min-width: 80vw;
        margin-top:5rem;
        flex:4;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
    }
}
