.index {
    .index-box {

        &.info {
            padding-top:4rem;
            .text-wrapper {
                padding: .5rem 0;

                p {
                    font-size: 12pt;
                }
            }
        }

        &.v-split {
            @media(max-width: $mobile-bp) {
                flex-direction: column;

                .text-wrapper {
                    width: 80%;
                    padding: 2rem 0;
                }
            }
        }

        .text-wrapper {
            width:40rem;
            padding:5rem;

            h1 {
                font-size:40pt;
                margin-bottom:0;
            }

            p {
                font-size:18pt;
            }
        }

        .popular-games-wrapper {
            background-color: rgb(241, 241, 241);
            display: flex;
            justify-content: space-between; 
            flex-wrap:wrap;
            padding:3rem 0.5rem;
        }
    }

    &-jumbotron {
        background: white;
        width:100%;
        height:30rem;

        .jumbotron-content-wrapper {
            img {
                width:20rem;
            }

            .jumbotron-slogan {
                font-size:20pt;
            }
        }
    }
}
