.payment {
    display:flex;
    margin-top:4rem;

    .lock-submit {
        opacity: .5;
        pointer-events: none;
        cursor: not-allowed;
    }

    &-divider {
        width:1px;
        background-color: rgba(0,0,0,.1);
    }

    &-form {
        height:100%;
        width:100%;
        min-width:10rem;
        margin-top:1rem;

        &-header {
            text-align:center;
            margin-bottom:4rem;
        }

        &-submit-card {
            width: 3rem;
            text-align: center;
            margin-top:1rem;
            border-radius:0;
            color: white;
            border-radius: 5px;
            margin-left: 1rem;
            padding:.5rem 1.5rem;
            background-color:$project-color;
            font-size:12pt;
            font-weight:200;
            cursor: pointer;
        }

        .lock-link {
            opacity: .5;
            cursor: not-allowed;
        }

        &-submit-swish {
            margin:1rem;
            border:2px solid rgba(0,0,0,.2);
            padding:1rem 2rem;
            background-color:white;
            font-size:12pt;
            font-weight:200;
        }

        &-input-box {
            display:flex;
            margin:2rem 1rem;

            .input-box-wrapper {
                display:flex;
                flex-direction:column;
                width:100%;

                input {
                    padding:.5rem;
                    border: none;

                    &.invalid-input {
                        border-color: #FF7D7D;
                    }

                    &.valid-input {
                        border-color: #90EE90;
                    }

                    &:not([type='checkbox']) {
                        border-bottom: 1px solid $project-color;
                    }
                }

                input:focus{
                    outline: none;
                }

                textarea {
                    padding:1rem;
                    flex:1;
                    resize:none;
                    border: none;
                    border-bottom: 1px solid $project-color;
                }
            }
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    }

    &-left {
        text-align:left;
        padding:1rem 5rem;
        width:calc(50% - 10rem);

        .pay-method {
            height:100%;
            width:100%;
            flex-direction:column;
        }

        @media(max-width:$mobile-bp) {
            width: 80%;
            padding: 0;
        }
    }

    &-right {
        padding:1rem 5rem;
        width:calc(50% - 10rem);
        height:80vh;
        position:relative;

        @media(max-width:$mobile-bp) {
            width: 80%;
            padding: 0;
        }
    }

    &-select {
        height:100%;
        width:100%;

        &-card {
            flex-direction:column;
            width:50%;
            padding:1rem;

            p {
                margin:0;
                font-size:30pt;
                font-weight:400;
            }

            @media(max-width: $mobile-bp) {
                padding: 0;
            }
        }

        &-divider {
            height:40%;
            flex-direction:column;

            .divider-line {
                height:50%;
                width:1px;
                background-color:rgba(0,0,0,.1)
            }
        }

        &-swish {
            flex-direction:column;
            width:50%;

            p {
                cursor: not-allowed;
                margin:0;
                font-size:30pt;
                font-weight:400;
                color:#d3d3d3;
                position: relative;

                &:after {
                    color: black;
                    font-weight: 800;
                    content: 'Coming soon';
                    position: absolute;
                    left: 17px;
                    top:19px;
                    font-size: 10pt;
                }
            }
        }

        @media(max-width:$mobile-bp) {
            padding: 10rem 0;
        }
    }

    .errors {
        &-wrapper {
            text-align:center;
            color: red;

            h4 {
                color: black;
            }
        }
    }

    @media(max-width:$mobile-bp) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
