.cart-floating {
    border-radius: 5%;
    box-shadow:-2px 2px 8px rgba(0,0,0,.3);
    position:fixed;
    right: 1rem;
    top: 4rem;
    background-color:white;
    padding:1rem;
    opacity: .4;
    transition: all 150ms linear;

    &:hover {
        opacity: 1;
    }

    @media(max-width: $mobile-bp) {
        display: none;
    }

    &-close {
        position:absolute;
        top:1.3rem;
        right:1rem;
        text-decoration: none;
        color: inherit;
        font-size:10pt;
    }

    &-title {
        margin:0;
    }

    &-items-wrapper {
        text-align:left;
        max-height:50vh;
        overflow:scroll;
    }
}
