.cart-floating {
    // border-radius: 3%;
    box-shadow:-2px -2px 7px rgba(0,0,0,.1);
    position:fixed;
    right: 0.5rem;
    top: 4rem;
    background-color:white;
    padding:1rem;
    transition: all 150ms linear;

    @media(max-width: $mobile-bp) {
        display: none;
    }

    &-close {
        position:absolute;
        top:0rem;
        right:1rem;
        text-decoration: none;
        color: inherit;
        font-size:10pt;
        cursor: pointer;
    }

    &-title {
        margin:0;
        text-transform: uppercase;
    }

    &-items-wrapper {
        text-align: left;
        max-height: 27.5vh;
        overflow: auto;
        min-height: 10rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-button {
        margin-bottom: 10px;
    }
}
