@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Typography
$font-header: Raleway;
$font-navbar-links: Raleway;

$font-paragraph: "Raleway";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$project-color: #96ddff;
