.feedback {
    margin-top:5rem;
    display:flex;
    justify-content:center;
    align-items:center;

    &-wrapper {
        padding:4rem 10rem;
        border-radius: 15%;
        box-shadow:-1px -1px 7px rgba(0,0,0,.1);

        @media(max-width: $mobile-bp) {
            padding-right: 3rem;
            padding-left: 3rem;
            border-radius: 0;
        }
    }
}
